# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Pytest
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# pyenv
.python-version

# ngrok/pyngrok
ngrok.yml
.pyngrok

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# Local run artifacts
run_with_tunnel.py
